*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f9f9f9;
  font-family: "Work Sans", sans-serif;
}

main{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header{
  text-align: center;
  margin-bottom: 20px;
}

img{
  width: 100px;
}

h1{
  font-family: "Fjalla One", sans-serif;
}

form{
  background-color: #f9fefa;
  padding: 15px;
  border-radius: 23px;
  border: 3px solid #b4c6b8
}

fieldset{
  margin-bottom: 9px;
  padding: 15px;
  border-radius: 15px;
  border: 3px solid #b4c6b8
}

legend{
  font-weight: bold;
  font-size: 18px;
  padding: 0 7px;
}

label{
  display: inline-block;
  margin-bottom: 0 5px;
}

input, select, textarea{
  width: 100%;
  padding: 5px;
  margin-bottom: 13px;
  border: 2px solid #b4c6b8;
  border-radius: 5px;
}

textarea{
  min-height: 77px;
}

input[type="radio"], input[type="checkbox"]{
  width: auto;
}

input[type="color"]{
  width: 40px;
  height: 40px;
}